* {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-size: 14px;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}


header {
  background-color: #fff;
  color: #10743c;
  width: 100%;
  height: 72px;
  display: flex;
  margin-bottom: 150px;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

header button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 8px;
  background-color: #fff;
  color: #10743c;
}

header button:hover {
  background-color: #fff;
}

body {
  background-image: linear-gradient(to bottom right, #233329, #63D471);
  justify-content: center;
}

.greetings{
  display: relative;
  margin-top: -20px;
  margin-bottom: 30px;
  font-style: italic;
}

.center {
  position: relative;
  padding: 70px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  display: table;
  margin: 0 auto;
}

.input-center {
  position: relative;
  width: 300px;
  height: 37px;
  margin-bottom: 2px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

button {
  width: 300px;
  height: 40px;
  margin-top: 15px;
  border-radius: 8px;
  color: #fff;
  background-color: #80bc04;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: #588404;
}

label {
  text-align: left;
  display: flex;
  padding-bottom: 2px;
  padding-top: 2px;
}

.checkBoxes {
  margin-left: 0px;
  text-align: left;
  display: flex;
}

input {
  text-indent: 10px;
}

.errorValue {
  position: relative;
  color: #ff4444;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 300px;
}
