* {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}

nav {
  background-color: #fff;
  color: #10743c;
  width: 100%;
  height: 80px;
  display: flex;
  margin-bottom: 150px;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

nav button {
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  margin: 20px;
  background-color: #fff;
  color: #10743c;
}

body {
  background-image: linear-gradient(to bottom right, #233329, #63d471);
  justify-content: center;
}

.greetings {
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
}

.center {
  position: relative;
  padding: 50px 75px 75px 75px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  display: table;
  margin: 0 auto;
}

.inputCenter {
  position: relative;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  text-indent: 8px;
}

input:focus {
  outline: none;
  border-color: #80bc04;
}

button {
  width: 300px;
  height: 40px;
  margin-top: 30px;
  border-radius: 8px;
  display: block;
  color: #fff;
  background-color: #80bc04;
  border: 0;
  cursor: pointer;
}

.center button:hover {
  background-color: #588404;
  transition: 0.2s;
}

label {
  display: flex;
  margin: 15px 0px 5px 5px;
  font-style: oblique;
}

.checkBoxes {
  padding-top: 3px;
  display: flex;
}
.checkBoxes label {
  margin: 0px -2px 0px 2px;
  font-style: normal;
}

.signUpError {
  position: relative;
  color: #ff4444;
  text-align: left;
  font-size: 12px;
  line-height: 1.25;
  margin: 5px 5px 10px 5px;
  width: 300px;
}

.loginError {
  position: relative;
  color: #ff4444;
  text-align: center;
  font-size: 12px;
  line-height: 1.25;
  width: 300px;
}

.nameSurnameButton {
  position: absolute;
  top: 0;
  right: 0;

  text-align: center;
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  margin: 20px;
  background-color: #fff;
  color: #10743c;
}

.profileIcon {
  background-color: #fff;
  position: absolute;
  top: 22.5px;
  right: 120px;
  width: 35px;
  height: 35px;
}

.center .assets {
  background-color: #94bb47;
  position: relative;
  width: 100px;
  height: 20px;
  padding: 50px 75px 75px 75px;
  border-radius: 8px;
  text-align: left;
  display: table;
  margin: 15px;
}

.phone {
  border: none;
}
